.markdown-body {
    h1 {
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 1.75em;
        margin-bottom: 0.5em;
    }

    h3 {
        font-size: 1.5em;
        margin-bottom: 0.3em;
    }
}