.mdEditorWrapper {
    :global {
        .w-md-editor {
            --md-editor-font-family: "Monaspace Neon", "Maple Mono NF CN";

            .w-md-editor-toolbar {
                border: none;
                background-color: #262d47;
            }
            .w-md-editor-content {
                background-color: #262d47;
            }

            .w-md-editor-preview {
                .wmde-markdown {
                    background-color: #262d47;
                    font-family: "Monaspace Neon", "Maple Mono NF CN",
                        sans-serif;
                }
            }
        }
    }
}
